---
import { pwaInfo } from "virtual:pwa-info";
import { ViewTransitions } from "astro:transitions";
import { createSlide } from "../libs/animation";
import "../styles/global.scss";
import type { TransitionDirectionalAnimations } from "astro";

interface Props {
  title: string;
  animation?: TransitionDirectionalAnimations;
}

const {
  title,
  animation = createSlide({
    direction: "Bottom",
    newSlide: false,
    backwardReverse: true,
  }),
} = Astro.props;
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate={animation}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="logo" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={title} />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="theme-color" content="#ffffff" />
    <title>{title}</title>
    <ViewTransitions />
    <style is:global>
      @keyframes astroSlideFromBottom {
        from {
          transform: translateY(100%);
        }
      }

      @keyframes astroSlideFromTop {
        from {
          transform: translateY(-100%);
        }
      }

      @keyframes astroSlideToBottom {
        to {
          transform: translateY(100%);
        }
      }

      @keyframes astroSlideToTop {
        to {
          transform: translateY(-100%);
        }
      }
    </style>
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />
  </body>
</html>
